Testing pull request change to file.

In [7]:
select count(*) as COUNT from dbo.DimCustomer;

COUNT
18484